# Panbot/config/runtime.yaml

paths:
  corners: "Panbot/vision/calibration/corners.json"
  yolo_model: "Panbot/vision/models/runs/batter_seg_local_v1/weights/best.pt"
  gru_ckpt: "Panbot/vision/models/runs/resnet18_gru16_cls/best.pt"

log:
  dir: "Panbot/logs"
  level: "INFO"

robot:
  type: "so101_follower"
  port: "/dev/ttyACM0"
  id: "my_awesome_follower_arm"
  calibration_dir: ""  # 필요 시 경로, 아니면 빈 문자열

  # ⚠️ policy(LeRobot)에서 쓸 카메라들 (vision cam과 별도)
  cameras:
    right:
      type: "opencv"
      index_or_path: 2
      width: 640
      height: 480
      fps: 30
      fourcc: "MJPG"
    left:
      type: "opencv"
      index_or_path: 6
      width: 640
      height: 480
      fps: 30
      fourcc: "MJPG"
    global:
      type: "opencv"
      index_or_path: 4
      width: 640
      height: 480
      fps: 30
      fourcc: "MJPG"
    wrist:
      type: "opencv"
      index_or_path: 0
      width: 640
      height: 480
      fps: 30
      fourcc: "MJPG"

vision:
  # ✅ YOLO/GRU가 공유해서 쓰는 "단일" 비전 카메라
  cam_index: 8
  backend: "v4l2"
  mjpg: true

  width: 3840
  height: 2160
  fps: 30

  # UI
  show: true
  yolo_preview_scale: 0.31
  gru_preview_scale: 0.31

  # watchdog
  watchdog_s: 2.0

yolo_trigger:
  conf: 0.25
  imgsz: 640
  area_thr_ratio: 0.12
  hold_frames: 30
  use_warp: true
  warp_w: 0   # 0이면 corners 기반 자동
  warp_h: 0

gru_trigger:
  image_size: 224
  seq_len: 16
  stride: 6
  ema: 0.7
  ready_hold: 3
  amp: true
  use_warp: true
  warp_w: 0   # 0이면 corners 기반 자동
  warp_h: 0

task:
  # main loop (권장: task.hz == policy_fps == vision.fps 로 맞추기)
  hz: 30

  # Task1 motion stepper
  task1_ramp_time_s: 0.8
  task1_pose_hold_s: 0.0
  task1_initial_ramp_overrides:
    0: 5.0
    1: 1.0
  task1_return_to_base_ramp_time_s: 3.0

  # Base pose 유지
  base_pose_hold_interval_s: 0.25

  # Policy
  policy_fps: 30
  task2_duration_s: 180.0
  task3_duration_s: 180.0
  wait_task2_to_task3_s: 30.0

poses:
  base_pose:
    shoulder_pan.pos: -0.132
    shoulder_lift.pos: -99.575
    elbow_flex.pos: 99.273
    wrist_flex.pos: 50.868
    wrist_roll.pos: 53.253
    gripper.pos: 0.719

  task1_initial_sequence:
    - { shoulder_pan.pos: -0.307, shoulder_lift.pos: -72.801, elbow_flex.pos: 84.552, wrist_flex.pos: 50.360, wrist_roll.pos: 53.253, gripper.pos: 0.719 }
    - { shoulder_pan.pos: -33.304, shoulder_lift.pos: -73.566, elbow_flex.pos: 83.462, wrist_flex.pos: 50.106, wrist_roll.pos: 53.410, gripper.pos: 0.719 }
    - { shoulder_pan.pos: -65.687, shoulder_lift.pos: -73.736, elbow_flex.pos: 77.828, wrist_flex.pos: 50.106, wrist_roll.pos: 53.253, gripper.pos: 0.719 }
    - { shoulder_pan.pos: -65.687, shoulder_lift.pos: -34.042, elbow_flex.pos: 83.189, wrist_flex.pos: -4.363, wrist_roll.pos: 53.200, gripper.pos: 0.719 }
    - { shoulder_pan.pos: -57.086, shoulder_lift.pos: -6.927, elbow_flex.pos: 80.918, wrist_flex.pos: -40.280, wrist_roll.pos: 53.410, gripper.pos: 43.754 }
    - { shoulder_pan.pos: -57.789, shoulder_lift.pos: 30.557, elbow_flex.pos: 53.112, wrist_flex.pos: -72.300, wrist_roll.pos: 53.200, gripper.pos: 43.819 }
    - { shoulder_pan.pos: -58.842, shoulder_lift.pos: 39.482, elbow_flex.pos: 38.028, wrist_flex.pos: -72.469, wrist_roll.pos: 53.515, gripper.pos: 73.185 }
    - { shoulder_pan.pos: -58.929, shoulder_lift.pos: 38.717, elbow_flex.pos: 40.118, wrist_flex.pos: -72.808, wrist_roll.pos: 53.463, gripper.pos: 18.000 }
    - { shoulder_pan.pos: -59.017, shoulder_lift.pos: 0.552, elbow_flex.pos: 41.118, wrist_flex.pos: -39.094, wrist_roll.pos: 53.515, gripper.pos: 18.000 }
    - { shoulder_pan.pos: -31.900, shoulder_lift.pos: -4.377, elbow_flex.pos: 35.393, wrist_flex.pos: -21.982, wrist_roll.pos: 43.284, gripper.pos: 18.000 }
    - { shoulder_pan.pos: -20.140, shoulder_lift.pos: -4.377, elbow_flex.pos: 35.393, wrist_flex.pos: -21.389, wrist_roll.pos: 23.977, gripper.pos: 18.000 }
    - { shoulder_pan.pos: -22.510, shoulder_lift.pos: -1.912, elbow_flex.pos: 35.575, wrist_flex.pos: -21.220, wrist_roll.pos: 0.000, gripper.pos: 18.000 }
    - { shoulder_pan.pos: -22.334, shoulder_lift.pos: -4.547, elbow_flex.pos: 35.666, wrist_flex.pos: -21.220, wrist_roll.pos: -10.808, gripper.pos: 18.000 }

  task1_return_sequence:
    - { shoulder_pan.pos: -22.334, shoulder_lift.pos: -4.547, elbow_flex.pos: 35.666, wrist_flex.pos: -21.220, wrist_roll.pos: -10.808, gripper.pos: 18.000 }
    - { shoulder_pan.pos: -22.510, shoulder_lift.pos: -1.912, elbow_flex.pos: 35.575, wrist_flex.pos: -21.220, wrist_roll.pos: 0.000, gripper.pos: 18.000 }
    - { shoulder_pan.pos: -20.140, shoulder_lift.pos: -4.377, elbow_flex.pos: 35.393, wrist_flex.pos: -21.389, wrist_roll.pos: 23.977, gripper.pos: 18.000 }
    - { shoulder_pan.pos: -31.900, shoulder_lift.pos: -4.377, elbow_flex.pos: 35.393, wrist_flex.pos: -21.982, wrist_roll.pos: 43.284, gripper.pos: 18.000 }
    - { shoulder_pan.pos: -59.017, shoulder_lift.pos: 0.552, elbow_flex.pos: 41.118, wrist_flex.pos: -39.094, wrist_roll.pos: 53.515, gripper.pos: 18.000 }
    - { shoulder_pan.pos: -58.929, shoulder_lift.pos: 38.717, elbow_flex.pos: 40.118, wrist_flex.pos: -72.808, wrist_roll.pos: 53.463, gripper.pos: 18.000 }
    - { shoulder_pan.pos: -58.842, shoulder_lift.pos: 39.482, elbow_flex.pos: 38.028, wrist_flex.pos: -72.469, wrist_roll.pos: 53.515, gripper.pos: 73.185 }
    - { shoulder_pan.pos: -57.789, shoulder_lift.pos: 30.557, elbow_flex.pos: 53.112, wrist_flex.pos: -72.300, wrist_roll.pos: 53.200, gripper.pos: 43.819 }
    - { shoulder_pan.pos: -57.086, shoulder_lift.pos: -6.927, elbow_flex.pos: 80.918, wrist_flex.pos: -40.280, wrist_roll.pos: 53.410, gripper.pos: 43.754 }
    - { shoulder_pan.pos: -65.687, shoulder_lift.pos: -34.042, elbow_flex.pos: 83.189, wrist_flex.pos: -4.363, wrist_roll.pos: 53.200, gripper.pos: 0.719 }
    - { shoulder_pan.pos: -65.687, shoulder_lift.pos: -73.736, elbow_flex.pos: 77.828, wrist_flex.pos: 50.106, wrist_roll.pos: 53.253, gripper.pos: 0.719 }
    - { shoulder_pan.pos: -33.304, shoulder_lift.pos: -73.566, elbow_flex.pos: 83.462, wrist_flex.pos: 50.106, wrist_roll.pos: 53.410, gripper.pos: 0.719 }
    - { shoulder_pan.pos: -0.307, shoulder_lift.pos: -72.801, elbow_flex.pos: 84.552, wrist_flex.pos: 50.360, wrist_roll.pos: 53.253, gripper.pos: 0.719 }

policies:
  policy1:
    repo_id: "ispaik06/act_panbot_task2_3"
    task: null
    rename_map: {}
    dataset_repo_id: null
    dataset_root: null
    use_amp: true
    print_joints: false
    print_joints_every: 30

  policy2:
    repo_id: "ispaik06/act_panbot_task3_3"
    task: null
    rename_map: {}
    dataset_repo_id: null
    dataset_root: null
    use_amp: true
    print_joints: false
    print_joints_every: 30
